//Colours:
//Neutrals:
$grey-darkest: #444343;
$grey-dark: #707070;
$grey-medium: #a6a3a2;
$grey-pale: #eee;
$grey-palest: #f5f5f5;
$white: #fff;
//Oranges:
$orange: #cb572a;
$orange-pale: #d48066;
$orange-palest: #feede0;
